<div class="team_container">

	<div class="breadcrumb">
		<a href="/dashboard/#/">Home</a>
		<span>&nbsp;>&nbsp;</span>
		<a href="/dashboard/#/events/{{event.objectId}}/registration">Events</a>
		<span>&nbsp;>&nbsp;</span>
		<a href="/dashboard/#/events/{{event.objectId}}/registration">{{event.title}}</a>
		<span>&nbsp;>&nbsp;</span>
		<span>Registration</span>
	</div>

	<div class="name">{{event.title}}</div>
	<div class="date">{{displayDate(event.start_date.iso).fString}}</div>
	<div class="reg_date">Registration Deadline:&nbsp;{{displayDate(event.reg_date.iso).fString}}</div>

	<div class="record">
		<input type="text" class="myteams FULL" placeholder="Register one of your teams..." wambl-autocomplete="myTeams" wambl-on-select="registerTeam(item)" wambl-on-click="registerTeam(item)" wambl-display-attr="name" wambl-select-first="false" ng:model="teamadder" wambl-exclude="event.registered" />
		<div class="article" ng-bind-html="event.article.body"></div>
	</div>

	<div class="app_cont">

		<div class="head">Registered Teams</div>
		<div class="body NO_PAD">

			<table class="teams_table">

				<tr ng:if="!regLoaded">
					<td>Loading...</td>
				</tr>

				<tr ng:if="event.registered == 0 && regLoaded">
					<td>No teams registered</td>
				</tr>
	
				<tr ng:repeat="team in event.registered | orderBy:'name'" ng:click="linkTo('/dashboard/#/teams/'+team.objectId)">
					<td>{{team.name}}</td>
				</tr>

			</table>

		</div>

	</div>

</div>