<div class="template_container">

	<div class="breadcrumb">
		<a href="/dashboard/#/">Home</a>
		<span class="arrow">&nbsp;&rsaquo;&nbsp;</span>
		<a href="/dashboard/#/events/{{event.objectId}}/registration">Events</a>
		<span class="arrow">&nbsp;&rsaquo;&nbsp;</span>
		<a href="/dashboard/#/events/{{event.objectId}}/registration">{{event.title}}</a>
		<span class="arrow">&nbsp;&rsaquo;&nbsp;</span>
		<span class="ORANGE">Registration</span>
	</div>

	<div class="event-header">

		<div class="event-title">{{event.title}}</div>
		<table>
			<tr class="event-date">
				<td colspan="2">
					<span>{{displayDate(event.start_date.iso).fString}}</span>
				</td>
			</tr>
			<tr class="event-deadline">
				<td>Registration&nbsp;Deadline:&nbsp;</td>
				<td>
					<span>{{displayDate(event.reg_date.iso).fString}}</span>
				</td>
			</tr>
		</table>

	</div>

	<div class="template_container T20">

		<div class="head">
			<div class="head-item head-icon-teams">Register Your Team</div>
			<div class="head-item">
				<input type="text" placeholder="Filter..." class="filter" ng:model="teamFilter" ng:change="filterTeams(teamFilter)" />
			</div>
		</div>

		<div class="body">

			<table class="table">

				<tr>
					<th colspan="2">My Teams</th>
				</tr>

				<tr ng:repeat="team in displayTeams | orderBy:'name'">
					<td>
						<a href="/dashboard/#/teams/{{team.objectId}}" ng:click="">{{team.name}}</a>
					</td>
					<td>
						<button ng:click="registerTeam($index)" ng:if="!team.registered">Register</button>
						<button ng:click="unregisterTeam($index)" ng:if="team.registered">Remove</button>
					</td>
				</tr>

			</table>

		</div>

	</div>

</div>