<table class="home">
	<tr>
		<td>

			<div class="main_article">

				<div class="tray">

					<a href="/dashboard/#/events/QbpXiJZ7c4/registration" class="head">ENTER YOUR TEAM!</a>
					<div class="sub">Enter your team into our first OTP Tournament.</div>
					<a href="/dashboard/#/events/QbpXiJZ7c4/registration" class="link">Register >></a>

				</div>

			</div>

			<div class="app_cont">

				<div class="head">MESSAGE BOARD</div>
				<div class="body NO_PAD">

					<table class="news">
						<tr ng:if="announcements.length == 0">
							<td>
								<a href="" ng:click="" class="F11">Loading...</a>
							</td>
						</tr>
						<tr ng:repeat="article in announcements | limitTo:20">
							<td>
								<a href="/dashboard/#/articles/{{article.id}}" class="F14">
									<div class="title">{{article.title}}</div>
									<div class="date">
										<span class="pre">Written:&nbsp;</span>
										<span class="aft">{{displayDate(article.updated_at).sDate}}</span>
									</div>

								</a>
							</td>
						</tr>
					</table>

				</div>

			</div>

		</td>
		<td>

			<div class="app_cont">

				<div class="head">UPCOMING EVENTS</div>
				<div class="body NO_PAD">

					<table class="news">
						<tr ng:if="events.length == 0">
							<td>
								<a href="" ng:click="" class="F11">Loading...</a>
							</td>
						</tr>
						<tr ng:repeat="event in events | limitTo:10">
							<td>
								<a href="/dashboard/#/events/{{event.objectId}}/registration" class="F11">{{displayDate(event.start_date.iso).sDate}}:&nbsp;{{event.title}}</a>
							</td>
						</tr>
					</table>

				</div>

			</div>

			<div class="app_cont">

				<div class="head">NHL HEADLINES</div>
				<div class="body NO_PAD">

					<table class="news">
						<tr ng:if="articles.length == 0">
							<td>
								<a href="" ng:click="" class="F11">Loading...</a>
							</td>
						</tr>
						<tr ng:repeat="article in articles | limitTo:10">
							<td>
								<a href="{{article.link}}" target="_blank" class="F11">{{article.title}}</a>
							</td>
						</tr>
					</table>

				</div>

			</div>

		</td>
	</tr>
</table>