<div class="template_container">

	<div class="breadcrumb">
		<a href="/dashboard/#/">Home</a>
		<span class="arrorw">&nbsp;>&nbsp;</span>
		<a href="/dashboard/#/teams">Teams</a>
		<span class="arrorw">&nbsp;>&nbsp;</span>
		<span class="ORANGE">{{team.name}}</span>
	</div>

	<div class="name">{{team[0].team.name}}</div>
	<div class="record">
		<div class="LEFT">{{team[0].team.wins}}&nbsp;-&nbsp;{{team[0].team.losses}}&nbsp;-&nbsp;{{team[0].team.otl}}</div>
		<div class="RIGHT" ng:if="i_am_admin"><a href="" ng:click="" class="button">Edit</a></div>
		<div class="CLEAR"></div>
	</div>

	<div class="template_container NO_PAD">

		<div class="head">
			<div class="head-item head-icon-teams">Roster</div>
		</div>
		<div class="body NO_PAD">

			<table class="table">

				<tr ng:if="team.length == 0">
					<td>Loading...</td>
				</tr>
	
				<tr ng:repeat="user in members | orderBy:'gamertag'" ng:click="">
					<td><a href="">{{user.user.gamertag}}</a></td>
				</tr>

			</table>

		</div>

	</div>

</div>