<div class="app_cont">

	<div class="head">
		<div class="LEFT">Teams</div>
		<div class="mini RIGHT">
			<select ng:model="sort" ng:change="teamSort()">
				<option value="name">Sort by:</option>
				<option value="wins">Wins</option>
				<option value="losses">Losses</option>
				<option value="otl">OTL</option>
			</select>
		</div>
		<div class="CLEAR"></div>
	</div>
	<div class="body NO_PAD">

		<table class="teams_table">

			<tr ng:if="teams.length == 0">
				<td>Loading...</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>

			<tr ng:repeat="team in teams | orderBy:sort:rev" ng:click="linkTo('/dashboard/#/teams/'+team.objectId)">
				<td>{{team.name}}</td>
				<td>
					{{team.wins}}
					<div class="mini">W</div>
				</td>
				<td>
					{{team.losses}}
					<div class="mini">L</div>
				</td>
				<td>
					{{team.otl}}
					<div class="mini">OTL</div>
				</td>
			</tr>

		</table>

	</div>

</div>