<div class="team_container">

	<div class="breadcrumb">
		<a href="/dashboard/#/">Home</a>
		<span>&nbsp;>&nbsp;</span>
		<a href="/dashboard/#/teams">Teams</a>
		<span>&nbsp;>&nbsp;</span>
		<span>{{team.name}}</span>
	</div>

	<div class="name">{{team.name}}</div>
	<div class="record">
		<div class="LEFT">{{team.wins}}&nbsp;-&nbsp;{{team.losses}}&nbsp;-&nbsp;{{team.otl}}</div>
		<div class="RIGHT" ng:if="i_am_admin"><a href="" ng:click="" class="button">Edit</a></div>
		<div class="CLEAR"></div>
	</div>

	<div class="app_cont">

		<div class="head">Members</div>
		<div class="body NO_PAD">

			<table class="teams_table">

				<tr ng:if="team.confirmed.length == 0">
					<td>Loading...</td>
				</tr>
	
				<tr ng:repeat="user in team.invited | orderBy:'gamertag'" ng:click="">
					<td>{{user.gamertag}}</td>
				</tr>

			</table>

		</div>

	</div>

</div>