<div class="app_cont">

	<div class="head">Create A Team</div>
	<div class="body">

		<form class="standard" onsubmit="return false;">

			<div><input placeholder="Team Name" type="text" class="FULL" /></div>

			<div>
				<table class="radio">
					<tr>
						<td>hjkhj</td>
						<td>Time Zone</td>
					</tr>
				</table>
			</div>

		</form>

	</div>

</div>