<div class="header">

	<div class="container">

		<table class="header_table">
			<tr>
				<td align="left" valign="middle">

					<img src="<%= asset_path('Hockey_Night_In_OTP.png') %>" height="80" />

				</td>
				<td align="right" valign="middle">

					<a href="#" class="button">Sign In</a>

				</td>
			</tr>
		</table>

	</div>

</div>
<div class="splash_main">

	<div class="container">

		<div class="LEFT TWOTHIRD">

			<h1>Register your team!</h1>
			<h2>Sign up and register your team to enter our first of many weekly tournaments. Enter your EASHL Club or scrounge together some of your OTP favorites to get away from sloppy OTP games, and the headache/invisibility of EASHL Club matchmaking.</br></br><span class="BLUE">We are pushing for Saturday March 7, 2015 for our inagural tournament.</span></h2>

		</div>
		<div class="RIGHT THIRD">

			<div class="splash_form">

				<input type="text" class="splash" placeholder="Gamertag" />
				<input type="text" class="splash" placeholder="Email" />
				<input type="text" class="splash" placeholder="Create a Password" />
				<input type="submit" class="splash button" value="Sign Up" />

			</div>

		</div>
		<div class="CLEAR"></div>

	</div>

</div>