<!DOCTYPE html>
<html>
  <!-- This page is displayed when someone clicks a valid 'reset password' link.
       Users should feel free to add to this page (i.e. branding or security widgets)
       but should be sure not to delete any of the form inputs or the javascript from the
       template file. This javascript is what adds the necessary values to authenticate
       this session with Parse.
       The query params 'username' and 'app' hold the friendly names for your current user and
       your app. You should feel free to incorporate their values to make the page more personal.
       If you are missing form parameters in your POST, Parse will navigate back to this page and
       add an 'error' query parameter.
  -->
  <head>
  <title>Password Reset</title>
  <style type='text/css'>
  	html,body {
  		font-family: helvetica,arial;
  		color: #CCC;
  	}
  	h1 {
  		text-shadow: 1px 1px 1px #222;
  		font-size: 24px;
  		letter-spacing: 1px;
  		color: #FFF;
  	}
  	label {
  		color: #d7d7d7;
  		font-weight: 300;
  	}
  	label #username_label {
  		color: #50DDE8;
  		line-height: 1px;
  	}
  	input {
  		margin-top: 10px;
  		width: 100%;
  		box-sizing: border-box;
  		-moz-box-sizing: border-box;
  	}
    input[type="text"],input[type="password"] {
    	font-family: helvetica,arial;
    	box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	font-size: 14px;
    	padding: 11px 10px 9px 10px;
    	margin-top: -1px;
    	border-radius: 3px;
    	border: solid 1px #D8D8D8;
    	font-weight: normal;
    	color: #222;
    }
    div.access {
    	width: 300px;
      	margin-left: auto;
      	margin-right: auto;
      	margin-top: 100px;
      	border: solid 3px #FFAB4D;
      	padding: 14px;
      	border-radius: 10px;
      	background: #676363;
    }
    div.access input {
    	margin-bottom: 10px;
    }
    div.access input:last-child {
    	margin-bottom: 0;
    }
    div.access div.input_error {
    	font-size: 16px;
      padding: 11px 10px 8px 10px;
      border-radius: 3px;
    	margin-bottom: 10px;
    }
    div.access div.input_alert {
      font-size: 16px;
      padding: 11px 10px 8px 10px;
      border-radius: 3px;
      margin-bottom: 10px;
    }
    button.button {
    	box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	width: 100%;
    	text-decoration: none;
    	position: relative;
    	padding: 10px 12px 8px 12px;
    	font-size: 14px;
    	font-weight: bold;
    	color: #333;
    	text-shadow: 0 1px 0 rgba(255,255,255,0.9);
    	white-space: nowrap;
    	vertical-align: middle;
    	cursor: pointer;
    	background-color: #c3c3c3;
    	background-image: -webkit-linear-gradient(#fcfcfc, #c3c3c3);
    	background-image: linear-gradient(#fcfcfc, #c3c3c3);
    	background-repeat: repeat-x;
    	border: 1px solid #d5d5d5;
    	border-radius: 3px;
    	-webkit-user-select: none;
    	-moz-user-select: none;
    	-ms-user-select: none;
    	user-select: none;
    	-webkit-appearance: none;
    }
    button.button:hover {
    	text-decoration: none;
    	background-color: #ddd;
    	background-image: -webkit-linear-gradient(#eee, #ddd);
    	background-image: linear-gradient(#eee, #ddd);
    	background-repeat: repeat-x;
    	border-color: #ccc;
    }
  </style>
</head>
<body>

	<div class="access">

		<h1>Reset Your Password</h1>
		<noscript>We apologize, but resetting your password requires javascript</noscript>
		<div class='error' id='error'></div>
		<form id='form' action='#' method='POST'>
		  <label>Account:&nbsp;<span id='username_label'></span></label>
		  <input name="new_password" type="password" placeholder="New Password" />
		  <input name='utf-8' type='hidden' value='✓' />
		  <input name="username" id="username" type="hidden" />
		  <input name="token" id="token" type="hidden" />
		  <button class="button">Change Password</button>
		</form>

	</div>

<script language='javascript' type='text/javascript'>
  <!--
  window.onload = function() {
    var urlParams = {};
    (function () {
        var pair, // Really a match. Index 0 is the full match; 1 & 2 are the key & val.
            tokenize = /([^&=]+)=?([^&]*)/g,
            // decodeURIComponents escapes everything but will leave +s that should be ' '
            re_space = function (s) { return decodeURIComponent(s.replace(/\+/g, " ")); },
            // Substring to cut off the leading '?'
            querystring = window.location.search.substring(1);

        while (pair = tokenize.exec(querystring))
           urlParams[re_space(pair[1])] = re_space(pair[2]);
    })();

    var base = 'https://www.parse.com';
    var id = urlParams['id'];
    document.getElementById('form').setAttribute('action', base + '/apps/' + id + '/request_password_reset');
    document.getElementById('username').value = urlParams['username'];
    document.getElementById('username_label').appendChild(document.createTextNode(urlParams['username']));

    document.getElementById('token').value = urlParams['token'];
    if (urlParams['error']) {
      document.getElementById('error').appendChild(document.createTextNode(urlParams['error']));
    }
    if (urlParams['app']) {
      document.getElementById('app').appendChild(document.createTextNode(' for ' + urlParams['app']));
    }
  }
  //-->
</script>
</body>
