<div class="access">

  <% if params[:error] %>

    <div class="input_error"><%= params[:error] %></div>
  
  <% end %>

  <%= form_tag "/verify/password/reset", method: :post,autocomplete: 'off' do %>

    <%= text_field_tag :email,nil,class: 'FULL',placeholder: 'Email',value: params[:email] %>
    <%= submit_tag 'Request Password Reset',class: 'button FULL' %>

  <% end %>

</div>