// Place all the styles related to the splash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.splash_form {
	margin-top: 30px;
	margin-left: 20px;
}

.splash_info {
	margin-top: 60px;
}

.splash_info h1 {
	color: #333;
	font-weight: 300;
	line-height: 0;
	font-size: 42px;
	text-shadow: none;
}
.splash_info h2 {
	color: #777;
	font-size: 20px;
	font-weight: 300;
	text-shadow: none;
}

table.info_table {
	width: 100%;
}
table.info_table tr td:first-child {
	width: 50%;
	padding-right: 40px;
	/*background: #090;*/
}
table.info_table tr td:last-child {
	padding-left: 40px;
	/*background: #FC0;*/
}
table.info_table tr td {
	vertical-align: top;
}

p.info_p {
	color: #5a5a5a;
	line-height: 1.5;
	font-size: 14px;
	font-weight: normal;
}

ul.info_list {
	margin-left: 15px;
	padding-left: 0;
}

ul.info_list li {
	margin-top: 20px;
	color: #5a5a5a;
	line-height: 1.5;
	font-size: 14px;
	font-weight: normal;
}

.left_container {
	margin-right: 20px;
}