<!DOCTYPE html>
<html>
<head>
  <title>Hotice</title>
  <script>var current_user = <%= session[:user].to_json.html_safe %>;</script>
  <%= stylesheet_link_tag    'application/application', media: 'all' %>
  <%= javascript_include_tag 'application/application' %>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-route.js"></script>
  <%= csrf_meta_tags %>
</head>
<body ng:App="HotIce" ng:controller="MainCtrl">

	<table class="dashboard_table">

		<tr class="in">
			<td class="in" valign="top" align="center">

				<a href="/dashboard/#/" class="logo"></a>

			</td>
			<td class="in" valign="middle" align="right">

				<a href="/signout" class="orange_link">Sign Out</a>
				<div class="CLEAR"></div>

			</td>
		</tr>

		<tr class="in">
			<td class="in" valign="top">

				<div class="create_team"><a href="#/teams/new">+ Create a Team</a></div>

				<ul class="navigation">

					<li class="icon-home"><a href="#/home">Home</a></li>
					<li class="icon-events"><a href="#/events/QbpXiJZ7c4/registration">Events</a></li>
					<li class="icon-teams"><a href="#/teams">Teams</a></li>
					<li class="icon-members"><a href="#/members">Members</a></li>
					<li class="icon-myaccount"><a href="#/myaccount" ng:class="{alert:!current_user.gamertagVerified,check:current_user.gamertagVerified}">{{current_user.gamertag}}</a></li>

				</ul>
				<div class="input_error SQUARE" ng:if="!current_user.gamertagVerified">Your gamertag needs to be verified</div>

			</td>
			<td class="in" valign="top">

				<scoreboard games="7" interval="10"></scoreboard>

				<div class="loader_container" ng:class="{'NONE':!loading}">
					
					<div class="loader"></div>

				</div>

				<div class="view_container"><div ng:view></div></div>

			</td>
		</tr>

	</table>

</body>
</html>